!!! 5
%html{lang: :en}
  %head
    %meta{:charset => 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}

    %title
      Weather Bulletin

    %meta{:name => 'description', :content => ''}
    %meta{:name => 'author',      :content => ''}
    %meta{:name => 'viewport',    :content => 'width=device-width,initial-scale=1'}

    %link{:rel => 'shortcut icon', :href => '/img/favicon.ico'}
    %link{:rel => 'stylesheet',    :href => '/css/bootstrap.min.css'}
    %link{:rel => 'stylesheet',    :href => '/css/cover.css'}

    %body
      .site-wrapper
        .site-wrapper-inner
          .cover-container

            .inner.cover
              %h1.cover-heading
                Twitter Weather Bulletin

              %p.lead
                Ever wanted the weather to change your twitter profile?
                It is not rocket science, but it is what we do.  Sign in
                to twitter and we will update your background image and
                name based on the profile location.

              %p.lead
                %a.btn.btn-warning.btn-lg{href: "/profile"}
                  Sign in with Twitter

              %p.lead
                %a{href: "https://twitter.com/chadwpry", rel: :external}
                  View an example twitter account

            .mastfoot
              .inner
                %p

      %script{type: "text/javascript", src: "/js/jquery.min.js"}
      %script{type: "text/javascript", src: "/js/bootstrap.min.js"}
      %script{type: "text/javascript", src: "/js/application.js"}
